<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <div class="popup_container"> <div class="panel">{{ message }}</div> </div>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  <div class="input_panel" id="login_panel">
      <span>Welcome admin! (<a href="/go?to=logout">logout</a>)</span>
      <div>
        <span> Select file to view: </span>
        <ul>
          <li><a href="admin?show=/files/mytasks">My tasks</a></li>
          <li><a href="admin?show=/files/test">testfile</a></li>
        </ul>
      </div>

      {% if contents  %}
        <h2>Viewing: {{ filename }}.txt</h2>
        <span>
          {{ contents|safe }}
        </span>
      {% else %}
         {% if filename %}
            <h2>{{ filename }}.txt does not exist.</h2>
         {% endif %}
      {% endif %}
  </div>
</body>
</html>